@import './base.css';

#app {
  width: 100%;
  min-height: 100dvh;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

a {
  color: #6366f1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
